<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUDt0EIPFVU7TwyWFk2nqpdttB9CfW9KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>485912934856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ragtag.ragtag</string>
	<key>PROJECT_ID</key>
	<string>ragtag-f0334</string>
	<key>STORAGE_BUCKET</key>
	<string>ragtag-f0334.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485912934856:ios:d7642f480fe08c09fd28fd</string>
</dict>
</plist>