CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = 88KTK78D9T
PROVISIONING_PROFILE_SPECIFIER = NJC_AppStore
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
FLUTTER_TARGET = lib/main.dart
FLUTTER_BUILD_DIR = build
SYMROOT = $(SOURCE_ROOT)/../build/ios
FLUTTER_FRAMEWORK_DIR = $(FLUTTER_ROOT)/bin/cache/artifacts/engine/ios

SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos
SUPPORTS_MACCATALYST = NO
TARGETED_DEVICE_FAMILY = 1,2
